<input type="file" (change)="changeListener($event)" #input />



<table class="container"  >
  <thead style="border:1px solid black;">
  <tr>
    <th      [ngStyle]="{'text-align':'center'}"   ><h1>Day</h1></th>
    <th [ngStyle]="{'text-align':'center'}"  ><h1>8:00 - 11:00</h1></th>
    <th [ngStyle]="{'text-align':'center'}" ><h1>11:00 - 2:00</h1></th>
    <th [ngStyle]="{'text-align':'center'}"  ><h1>2:00 - 5:00</h1></th>
  </tr>
  </thead>
  <tbody  *ngFor="let exam of ExamArray ; let i = index" >
  <tr>
    <td  [ngStyle]="{'background-color':'#9999FF'}" > Day {{i+1}}</td>
    <td   [ngStyle]=" exam[0] == 1 && {'background-color':'#ffbbc8'}"><span *ngIf="exam[0]==1">Exam</span></td>
    <td [ngStyle]=" exam[1] == 1 && {'background-color':'#ffbbc8'}" > <span *ngIf="exam[1]==1">Exam</span></td>
    <td [ngStyle]=" exam[2] == 1 && {'background-color':'#ffbbc8'}" ><span *ngIf="exam[2]==1">Exam</span></td>
  </tr>
  </tbody>
</table>
